rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAuthenticated() { return request.auth != null; }
    function isValidContentType(types) { return request.resource.contentType.matches(types); }
    function isValidFileSize(maxMB) { return request.resource.size <= (maxMB * 1024 * 1024); }

    match /{allPaths=**} {
      allow read: if true;
      allow write: if isAuthenticated() && isValidFileSize(3) && isValidContentType('image/(webp|avif|png|jpeg|svg\\+xml)');
    }
  }
}
